#map_container {
    position: fixed;
    height: 100%;
    width: 100%;
    @include _respond_to(md-down){
        top: 50px;
        height: calc(100% - 50px);
    }
    .leaflet-popup {
        font-family: 'Poppins', sans-serif;
        left: -92px !important;
        bottom: 21px !important;
        width: 200px;
        .leaflet-popup-content-wrapper {
            border-radius: 5px;
            background: #ffffff;
            color: black;
            font-weight: 600;
            h4 {
                border-bottom: 1px solid #e9e9e9;
                margin-bottom: 9px;
            }
        }
    }
    .country-marker,
    .province-marker {

    }
    svg.country-marker {
        border: 2px solid white;
        border-radius: 50%;
        circle {
            fill: $blue;
            fill-opacity: 0.9;
        }
    }
    svg.province-marker {
        border: 2px solid white;
        border-radius: 50%;
        circle {
            fill: $yellow;
            fill-opacity: 0.9;
        }
    }
}

#topbar {
    position: absolute;
    top: -100%;
    background: $blue;
    z-index: 999;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 6px #191919;
    align-items: center;
    padding: 10px 25px;
    @include _respond_to(custom, 0, 992px) {
        top: 0;
    }
    .title {
        font-size: 20px;
        color: white;
    }
    .menu-opener {
        cursor: pointer;
        position: relative;
        height: 12px;
        width: 35px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        span{
            display: block;
            height: 3px;
            width: 35px;
            background-color: white;
            position: relative;
            transition: all 0.3s ease;
        }
        &.open{
            justify-content: center;
            span{
                &:nth-child(1){
                    transform: rotate(45deg);
                    top : 2px;
                }
                &:nth-child(2){
                    transform: rotate(-45deg);
                    top: -1px;
                }
            }
        }
    }
}



