$range-handle-size: 20px !default;
$range-track-height: 6px !default;
$range-label-width: 60px !default;



.range-slider {
    width: 90%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 75px auto 0 auto;
    padding-right: 0px;
    @include _respond_to(custom, 993px, 5000px) {
        width: calc(100% - 560px);
        left: inherit;
        right: 30px;
        margin-top: 30px;
        padding-right: 49px;
    }
    .range-slider__range {
        -webkit-appearance: none;
        width: 85%;
        height: $range-track-height;
        border-radius: 5px;
        background: white;
        outline: none;
        padding: 0;
        margin: 0;
        @include _respond_to(custom, 993px, 5000px) {
            width: 94%;
        }
        // Range Handle
        &::-webkit-slider-thumb {
            appearance: none;
            width: $range-handle-size;
            height: $range-handle-size;
            border-radius: 50%;
            background: $blue-background;
            cursor: pointer;
            transition: background .15s ease-in-out;
            &:hover {
                background: $blue;
            }
        }

        &:active::-webkit-slider-thumb {
            background: $blue;
        }

        &::-moz-range-thumb {
            width: $range-handle-size;
            height: $range-handle-size;
            border: 0;
            border-radius: 50%;
            background: $blue;
            cursor: pointer;
            transition: background .15s ease-in-out;

            &:hover {
                background: $yellow;
            }
        }

        &:active::-moz-range-thumb {
            background: $yellow;
        }

        // Focus state
        &:focus {

            &::-webkit-slider-thumb {
                box-shadow: 0 0 0 3px $yellow;
            }
        }
    }

    // Range Label
    .range-slider__value {
        top: -11px;
        position: absolute;
        width: 80px;
        height:50px;
        color: $blue;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        background: $blue-background;
        padding: 10px 10px;
        margin-left: 8px;
        font-size: 23px;
        font-weight: 600;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        right: -5px;
        @include _respond_to(custom, 993px, 5000px) {
            width: 60px;
        }
        .month{
            font-size: 16px;
        }
    }
}


// Firefox Overrides
::-moz-range-track {
    background: $blue-background;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}