/* Fonts */
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 600;
$black_weight: 800;

  /* Bootstrap media queries */
$screen-xs-min: 0px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xs-max: 575.98px;
$screen-sm-max: 767.98px;
$screen-md-max: 991.98px;
$screen-lg-max: 1199.98px;
$screen-xl-max: 3000px;

/* Time and motion */
$time: 300;
$motion: 'ease-in-out';

$spacer: 60px;

$blue: #78abde;
$dark: #333c45;
$blue-background: #f3f7fa;
$yellow: #ddab00;
$gray: #838187;
$lightgray: #e5e3e9;