@import "~leaflet/dist/leaflet.css";

@import '_variables';
@import '_mixins';
@import '_rangeSlider';
@import '_sidebar';
@import '_statics';
@import '_social';
@import '_map';


html, body {
    margin: 0; padding: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #E5E0D9;
    position: absolute;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

* {
    box-sizing: border-box;
}


/**
   Scroll Bar
 */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
}


// buy me a coffee icon.
.buy-me-a-coffee {
    position: absolute;
    z-index: 11;
    border-radius: 50%;
    display: flex;
    background: $blue;
    width: 50px;
    height: 50px;
    bottom: 15px;
    left: 515px;
    box-shadow: 1px 1px 4px #333;
    align-items: center;
    justify-content: center;
    svg {
        path {
            fill: $yellow;
            &.white {
                fill: white;
            }
        }
    }
    &:hover {
        transform: rotate(15deg);
    }
    @include _respond_to(custom, 0, 992px) {
        width: 35px;
        height: 35px;
        bottom: auto;
        top: 70px;
        left: auto;
        right: 15px;
        svg {
            width: 18px;
        }
    }
}


// Hide some contributors, too many...
.leaflet-container .leaflet-control-attribution {
    max-width: 229px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include _respond_to(custom, 0, 992px) {
        margin: 0;
        max-width: 150px;
    }
}


